Repository 40Q/40q-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build, ../../vendor/bin/phpcs

.lintstagedrc.json:

{
  "*.css": [
    "yarn build"
  ],
  "*.ts": [
    "yarn build"
  ],
  "*.tsx": [
    "yarn build"
  ],
  "*.php": [
    "../../vendor/bin/phpcs"
  ]
}

Update readme
  readme.md
Due: none

Update tailwind config
  tailwind.config.js
Due: none

Add screenshot
  screenshot.png
Due: none

Added filters and template tags missing file
  functions.php
  includes/filters.php
  includes/template-tags.php
Due: ../../vendor/bin/phpcs

Avoid error on empty folder
  includes/blocks-register.php
Due: ../../vendor/bin/phpcs

Add components, clean styles
  app/Components/Heading.php
  app/Components/SectionHeader.php
  includes/template-tags.php
  resources/scripts/editor/components/button/button.tsx
  resources/scripts/editor/components/heading/heading.tsx
  resources/scripts/editor/components/image/image.tsx
  resources/scripts/editor/components/section-header/section-header.tsx
  resources/scripts/editor/utils/components/repeater.tsx
  resources/scripts/editor/utils/components/sidebar.tsx
  resources/scripts/editor/utils/helpers.ts
  resources/views/components/button.php
  resources/views/components/image.php
  resources/views/components/section-header.php
  theme.json
  yarn.lock
Due: yarn build, ../../vendor/bin/phpcs

Add CI file
  .github/workflows/ci.yml
  .gitignore
  auth.json.sample
Due: none

Add deploy.sh
  deploy.sh
Due: none

Update README.md to clarify CI/CD setup instructions
  readme.md
Due: none
